/* Local fonts */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
/* Main styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
}
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    padding-left: 35px;
    border-bottom: 1px solid #D4D4D4;
}
.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo-link:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #D4D4D4;
    margin-left: 34px;
}
/* Search */
.search-input {
    background-image: url('../img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    border: none;    
    padding-left: 34px;
    margin-left: 34px;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}
/* Menu */
.navigation {
    width: 307px;
    display: flex;
    justify-content: space-around;
    margin-right: 44px;
    margin-left: auto;
}
.navigation-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    text-decoration: none;
}
.navigation-link:hover {
    color: #A5A5A5;
}
/* Buttons */
.button-group {
    height: 100%;
}
.button {
    height: 100%;
    font-size: 18px;
    line-height: 21px;
    border: none;
}
.button:hover {
    cursor: pointer;
}
.sign-up {
    color: #5671F6;
    background: none;
    border-left: 1px solid #D4D4D4;
    padding: 0 34px;
}
.login {
    color: #FFFFFF;
    background: #5671F6;
    padding: 0 51px;
}
.sign-up:hover {
    color: #A5A5A5;
}
.login:hover {
    color: #A5A5A5;
}
/*  */
